.Splash-body,
.AboutMe-body,
.Resource-body,
.TechHero-body {
    text-align: center;
    margin: 0 auto;
    background-color: lightblue;
}

#EnochName {
    font-size: 25px;;
}

.EnochProfile-img {
    width: 170px;
    border-radius: 30%;
}